.dashboard-app{
    display: flex;
    height: 100vh;
}

.sidebar{
    width: 250px;
    background: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.sidebar button{
    margin: 10px 0;
    padding: 8px;
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.sidebar button:hover{
    background-color: #d3d3d31a;
}

.sidebar h2{
    padding-left: 50px;
}

.content{
   display: flex;
   flex-direction: column;
   flex: 1;
   padding: 20px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-flexbox{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.top-flexbox > div{
    flex: 1;
    padding: 20px;
    background: #f5f5f5;
    margin-right: 20px;
}

.product-sell{
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.product-sell input{
    padding: -10px -10px;
}

.bottom-flexbox > .overview{
    flex: 1;
    padding: 20px;
    background: #f5f5f5;
    margin-right: 20px;
}

.bottom-flexbox{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.bottom-flexbox > .customer-chart{
    flex: 1;
    padding: 20px;
    background: #f5f5f5;
    margin-right: 10px;
}

.overview > .image{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
}

.customer-chart > .photo{
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 30px;
}

@media (max-width: 768px) {
    .sidebar {
      display: none; /* Hide the sidebar on smaller screens */
    }
}

@media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
    .header h2 {
      margin-bottom: 10px;
    }
    .header input {
      width: 100%;
    }
}

@media (max-width: 768px) {
    .top-flexbox {
      flex-direction: column;
    }
    .top-flexbox > div {
      margin-right: 0;
      margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .bottom-flexbox {
      flex-direction: column;
    }
    .bottom-flexbox > div {
      margin-right: 0;
      margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .product-sell {
      text-align: center;
    }
    .product-sell button {
      width: 100%;
    }
}